html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.App {
  
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main{
  
  display:flex;
  flex-wrap: wrap;
  min-width:100%;
  background-color:#cccccc;
  padding: 15px 15px 0 0;
  background: #CDD6D0;
  }
  
  .g {
    background: #E16036;
    border: 4px solid #E3170A;
    border-radius: 8px;
    padding: 15px;
    color: white;
    font: 18px Arial;
    margin: 0 0 15px 15px;
  }

.topForm{
  width: calc(100% - 15px);
}

.left{
  width: calc(30% - 15px);
}
.right{
  width: calc(70% - 15px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
